@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-brico: var(--font-brico);
}

::selection {
  background-color: #007595; /* purple-500 */
  color: #cefafe;
}

::-moz-selection {
  background-color: #007595;
  color: #cefafe;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fdf9f0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
